/* Master Styles */
h1 {
  color: red;
  font-family: consolas;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: consolas;
  font-weight: lighter;
}
body {
  margin: 2em;
  font-family: consolas;
  font-size: 44px;
}
body, input[text], button {
  color: #888;
  font-family: consolas, Georgia;
  border-radius: 0px;
}
